<div class="rpx-permissions">
  <h2 class="rpx-el-100 rpx-margin rpx-padding rpx-h2">
    <span> Safety & Privacy </span>
  </h2>

  <div class="rpx-el-100 rpx-rel-div rpx-paragraph">
    Rpx uses your location to find <i>trusted users</i> around you. You can
    choose your <i>trusted users</i> once you log in. <br /><br />By visiting
    this domain, you agree to our
    <span
      class="rpx-link rpx-normal-font-size"
      [routerLink]="['/terms']"
    >
      Terms & Privacy Policy.
    </span>
  </div>

  <img
    class="rpx-el-100 rpx-margin rpx-no-repeat-bg-contain rpx-img"
    src="../../assets/images/child_missing.jpg"
    alt=""
  />

  <div class="rpx-rel-div rpx-link" [routerLink]="['/home']">
    I Understand
  </div>
</div>
