<ion-header class="my-list-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="text-center" color="dark">
  <div class="log-in-wrapper">
    <div class="pb-4 pt=-4"></div>
    <h2 class="rpx-text-gradient text-uppercase mt-4">Password Recovery</h2>

    <div class="mt-3"></div>

    <form [formGroup]="passwordResetForm" *ngIf="stepOne$ | async">
      <ng-container *ngIf="(usePhoneNumber$ | async) === true">
        <div
          *ngIf="
          (passResetSubmitted$ | async) && g.rpxEmailOrPh.errors;
          else rpx_reset_1_normal
        "
          class="rpx-invalid-feedback animated shake"
        >
          <div *ngIf="g.rpxEmailOrPh.errors.maxlength">
            Phone-number can only be 130 characters in length.
          </div>

          <div *ngIf="g.rpxEmailOrPh.errors.required">
            Please enter your phone-number.
          </div>
        </div>

        <ng-template #rpx_reset_1_normal>
          <div
            #getLinkMessage
            class="rpx-text-gradient rpx-contact-me-info"
          >
            {{ emailOrPhError$ | async }}
          </div>
        </ng-template>

        <table class="sb-inputWithIconWrapper">
          <td class="sb-iconInInputWrapper">
            <i class="fa fa-envelope"></i>
          </td>
          <td>
            <input
              class="sb-input"
              id="rpxLoginPhone"
              formControlName="rpxEmailOrPh"
              type="tel"
              mask="(000) 000-0000"
              autocomplete="tel"
              placeholder="(555) 555-5555"
            />
          </td>
        </table>
        <div class="rpx-text-gradient text-uppercase cursor-pointer" (click)="usePhoneNumber()">Use e-mail</div>
      </ng-container>

      <ng-container *ngIf="(usePhoneNumber$ | async) === false">
        <div
          *ngIf="
          (passResetSubmitted$ | async) && g.rpxEmailOrPh.errors;
          else rpx_reset_1_normal
        "
          class="rpx-invalid-feedback animated shake"
        >
          <div *ngIf="g.rpxEmailOrPh.errors.maxlength">
            E-mail can only be 130 characters in length.
          </div>

          <div *ngIf="g.rpxEmailOrPh.errors.required">
            Please enter your e-mail.
          </div>
        </div>

        <ng-template #rpx_reset_1_normal>
          <div
            #getLinkMessage
            class="rpx-text-gradient rpx-contact-me-info"
          >
            {{ emailOrPhError$ | async }}
          </div>
        </ng-template>

        <table class="sb-inputWithIconWrapper">
          <td class="sb-iconInInputWrapper">
            <i class="fa fa-envelope"></i>
          </td>
          <td>
            <input
              class="sb-input"
              id="rpxLoginUsername"
              formControlName="rpxEmailOrPh"
              type="text"
              placeholder="E-MAIL"
              autocomplete="email"
            />
          </td>
        </table>
        <div class="rpx-text-gradient text-uppercase cursor-pointer" (click)="usePhoneNumber()">Use phone number</div>
      </ng-container>

      <button
        class="rpx-button rpx-padding text-uppercase mt-5"
        (click)="setPassResetPin()"
      >
        Send Reset Link
      </button>
    </form>

    <div *ngIf="stepTwo$ | async">
      <div>
        <div class="rpx-text-gradient rpx-contact-me-info">
          {{ pinReadyMsg$ | async }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-loading-screen *ngIf="loading$ | async"></app-loading-screen>
